{% load static %}
<script src="{% static 'assets/libs/global/global.min.js' %}"></script>
<script src="{% static 'assets/libs/sortable/Sortable.min.js' %}"></script>
<script src="{% static 'assets/libs/chartjs/chart.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/persian-date@1.1.0/dist/persian-date.min.js"></script>
<script src="https://unpkg.com/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/appSettings.js' %}"></script>
<script>
  window.APP_CONFIG = {
    staticUrl: "{% get_static_prefix %}",
    searchJsonUrl: "{% static 'assets/ajax/search.json' %}",
  };
</script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/libs/persian-datepicker/persian-datepicker.js' %}"></script>
<script src="{% static 'assets/libs/persian-datepicker/persian-datepicker.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".date-picker").persianDatepicker({
      format: "YYYY/MM/DD", // فرمتی که کاربر می‌بیند و به جنگو ارسال می‌شود
      autoClose: true,
      initialValue: false,
      calendar: {
        persian: {
          leapYearMode: "astronomical", // برای دقت بیشتر در سال‌های کبیسه
        },
      },
    });
  });
</script>
