{% extends 'base.html' %}
{% load jalali_tags %}
{% load jformat %}

{% block title %}
رزروها
{% endblock %}

{% block content %}

{% if can_create_reservation %}
<a href="#"
   data-bs-toggle="modal"
   data-bs-target="#createReservationModal">
رزرو جدید
</a>
{% endif %}

###### لیست رزروها

| مشتری | لباس | تاریخ تحویل | شروع اجاره | پایان اجاره | وضعیت | عملیات |
| --- | --- | --- | --- | --- | --- | --- |

{% for reservation in reservations %}

| {{ reservation.customer }}
| {{ reservation.dress }}
| {{ reservation.delivery_date|jformat:"%Y/%m/%d" }}
| {{ reservation.start_date|jformat:"%Y/%m/%d" }}
| {{ reservation.end_date|jformat:"%Y/%m/%d" }}
| {{ reservation.get_status_display }}
|
{% if can_edit_reservation %}
<a href="#"
   data-bs-toggle="modal"
   data-bs-target="#editReservationModal{{ reservation.id }}">
ویرایش
</a>
{% endif %}

{% if can_delete_reservation %}
<a href="#"
   data-bs-toggle="modal"
   data-bs-target="#deleteReservationModal{{ reservation.id }}">
حذف
</a>
{% endif %}

<a href="#"
   data-bs-toggle="modal"
   data-bs-target="#detailReservationModal{{ reservation.id }}">
مشاهده جزئیات
</a>

|

{% empty %}

| رزروی ثبت نشده است | | | | | | |

{% endfor %}



{% if is_paginated %}

{% if page_obj.has_previous %}
* [قبلی](?page={{ page_obj.previous_page_number }})
{% endif %}

{% for num in paginator.page_range %}

{% if page_obj.number == num %}
* {{ num }}
{% else %}
* [{{ num }}](?page={{ num }})
{% endif %}

{% endfor %}

{% if page_obj.has_next %}
* [بعدی](?page={{ page_obj.next_page_number }})
{% endif %}

{% endif %}



{% for reservation in reservations %}

{% include 'reservations/partials/_detail_modal.html' %}

{% if can_edit_reservation %}
{% include 'reservations/partials/_edit_modal.html' %}
{% endif %}

{% if can_delete_reservation %}
{% include 'reservations/partials/_delete_modal.html' %}
{% endif %}

{% endfor %}



{% if can_create_reservation %}
{% include 'reservations/partials/_create_modal.html' %}
{% endif %}

{% endblock %}
